<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FusionCharts Data Grid UI</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="wrapper">

		<div class="db-table-wrapper"><!-- Data Table Wrapper -->

			<div class="db-table-caption"><!-- Data Table Caption Container -->
				<h1 class="table-caption">FusionCharts Data Table</h1>
				<p class="small">Drag a column header and drop it here to group by that column</p>
			</div><!-- Data Table Caption  Container End -->



			<div class="db-table-header"><!-- Data Table Header  Container -->				
				<table role="table-header">
					<tbody>
						<colgroup><col style="width:20%"><col style="width:30%"><col style="width:30%"><col style="width:20%"></colgroup>
						<tr>
							<td><a href="#">Contact Name <span class="db-icon db-icon-up"></span></a></td>l
							<td><a href="#">Contact Title <span class="db-icon db-icon-down"></span></a></td>
							<td><a href="#">Contact Company</a></td>
							<td><a href="#">Country</a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- Data Table Header  Container End -->



			<div class="db-table-data"><!-- Data Grids Holder -->

				<table role="data-table">
					<tbody>
						<colgroup><col style="width:20%"><col style="width:30%"><col style="width:30%"><col style="width:20%"></colgroup>
						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/rahul.jpg" width="" height="" alt="Rahul Kumar"></div>
								<div class="cusotmer-name">Rahul Kumar</div>
							</td>
							<td role="cell">
								CTO
							</td>
							<td role="cell">
								Collabion
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/ayan.jpg" width="" height="" alt="Ayan Pal"></div>
								<div class="cusotmer-name">Ayan Pal</div>
							</td>
							<td role="cell">
								Software developer
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/indranil.jpg" width="" height="" alt="Indranil"></div>
								<div class="cusotmer-name">Indranil</div>
							</td>
							<td role="cell">
								System Admin
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/prithwiraj.jpg" width="" height="" alt="Prithwiraj Saha"></div>
								<div class="cusotmer-name">Prithwiraj Saha</div>
							</td>
							<td role="cell">
								Web Administrator
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/seema.jpg" width="" height="" alt="Seema Jhunjhunwala"></div>
								<div class="cusotmer-name">Seema Jhunjhunwala</div>
							</td>
							<td role="cell">
								Accountent 
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/rahul.jpg" width="" height="" alt="Rahul Kumar"></div>
								<div class="cusotmer-name">Rahul Kumar</div>
							</td>
							<td role="cell">
								CTO
							</td>
							<td role="cell">
								Collabion
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/ayan.jpg" width="" height="" alt="Ayan Pal"></div>
								<div class="cusotmer-name">Ayan Pal</div>
							</td>
							<td role="cell">
								Software developer
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/indranil.jpg" width="" height="" alt="Indranil"></div>
								<div class="cusotmer-name">Indranil</div>
							</td>
							<td role="cell">
								System Admin
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/prithwiraj.jpg" width="" height="" alt="Prithwiraj Saha"></div>
								<div class="cusotmer-name">Prithwiraj Saha</div>
							</td>
							<td role="cell">
								Web Administrator
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/seema.jpg" width="" height="" alt="Seema Jhunjhunwala"></div>
								<div class="cusotmer-name">Seema Jhunjhunwala</div>
							</td>
							<td role="cell">
								Accountent 
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


					</tbody>
				</table>

			</div><!-- Data Grids Holder End -->

			<div class="db-table-footer"><!-- Data Table Footer  Container -->
				<div class="db-pagination-wrapper">

					<a href="#" title="Go to the first page" class="page-link page-link-first"><span class="db-icon db-icon-left-arrow-first">Go to the first page</span></a>
					<a href="#" title="Go to the previous page" class="page-link page-link-nav" ><span class="db-icon db-icon-left-arrow-previous">Go to the previous page</span></a>

					<ul class="db-pagination">
						<li><a href="#" class="page-link">1</a></li>
						<li><a href="#" class="page-link">2</a></li>
						<li><a href="#" class="page-link">3</a></li>
						<li><a href="#" class="page-link">4</a></li>
						<li><span class="page-link-selected">5</span></li>
						<li><a  href="#" class="page-link"  title="More pages">...</a></li>
					</ul>

					<a href="#" title="Go to the next page" class="page-link page-link-nav" ><span class="db-icon db-icon-left-arrow-next">Go to the next page</span></a>
					<a href="#" title="Go to the last page" class="page-link page-link-last" ><span class="db-icon db-icon-right-arrow-last">Go to the last page</span></a>

				</div>
				<div class="db-search-wrapper">
					<input type="text" class="search">
					<input type="submit" value="Search" class="button">
				</div>
				<div class="db-page-info-wrapper">
					<span class="db-page-info">91 - 91 of 91 items</span>
					<a href="#" class="page-link"><span class="db-icon db-icon-reload"></span></a>
				</div>
				
			</div><!-- Data Table Footer  Container End -->

		</div><!-- Data Table Wrapper End -->

<div class="db-table-wrapper"><!-- Data Table Wrapper -->

			<div class="db-table-caption"><!-- Data Table Caption Container -->
				<h1 class="table-caption">FusionCharts Data Table</h1>
				<p class="small">Drag a column header and drop it here to group by that column</p>
			</div><!-- Data Table Caption  Container End -->



			<div class="db-table-header"><!-- Data Table Header  Container -->				
				<table role="table-header">
					<tbody>
						<colgroup><col style="width:20%"><col style="width:30%"><col style="width:30%"><col style="width:20%"></colgroup>
						<tr>
							<td><a href="#">Contact Name <span class="db-icon db-icon-up"></span></a></td>
							<td><a href="#">Contact Title <span class="db-icon db-icon-down"></span></a></td>
							<td><a href="#">Contact Company</a></td>
							<td><a href="#">Country</a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- Data Table Header  Container End -->



			<div class="db-table-data"><!-- Data Grids Holder -->

				<table role="data-table">
					<tbody>
						<colgroup><col style="width:20%"><col style="width:30%"><col style="width:30%"><col style="width:20%"></colgroup>
						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/rahul.jpg" width="" height="" alt="Rahul Kumar"></div>
								<div class="cusotmer-name">Rahul Kumar</div>
							</td>
							<td role="cell">
								CTO
							</td>
							<td role="cell">
								Collabion
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/ayan.jpg" width="" height="" alt="Ayan Pal"></div>
								<div class="cusotmer-name">Ayan Pal</div>
							</td>
							<td role="cell">
								Software developer
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/indranil.jpg" width="" height="" alt="Indranil"></div>
								<div class="cusotmer-name">Indranil</div>
							</td>
							<td role="cell">
								System Admin
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/prithwiraj.jpg" width="" height="" alt="Prithwiraj Saha"></div>
								<div class="cusotmer-name">Prithwiraj Saha</div>
							</td>
							<td role="cell">
								Web Administrator
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/seema.jpg" width="" height="" alt="Seema Jhunjhunwala"></div>
								<div class="cusotmer-name">Seema Jhunjhunwala</div>
							</td>
							<td role="cell">
								Accountent 
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/rahul.jpg" width="" height="" alt="Rahul Kumar"></div>
								<div class="cusotmer-name">Rahul Kumar</div>
							</td>
							<td role="cell">
								CTO
							</td>
							<td role="cell">
								Collabion
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/ayan.jpg" width="" height="" alt="Ayan Pal"></div>
								<div class="cusotmer-name">Ayan Pal</div>
							</td>
							<td role="cell">
								Software developer
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/indranil.jpg" width="" height="" alt="Indranil"></div>
								<div class="cusotmer-name">Indranil</div>
							</td>
							<td role="cell">
								System Admin
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/prithwiraj.jpg" width="" height="" alt="Prithwiraj Saha"></div>
								<div class="cusotmer-name">Prithwiraj Saha</div>
							</td>
							<td role="cell">
								Web Administrator
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>

						<tr role="row">
							<td role="cell">
								<div class="customer-img"><img src="images/seema.jpg" width="" height="" alt="Seema Jhunjhunwala"></div>
								<div class="cusotmer-name">Seema Jhunjhunwala</div>
							</td>
							<td role="cell">
								Accountent 
							</td>
							<td role="cell">
								FusionCharts
							</td>
							<td role="cell">
								India
							</td>
						</tr>


					</tbody>
				</table>

			</div><!-- Data Grids Holder End -->

			<div class="db-table-footer"><!-- Data Table Footer  Container -->
				<div class="db-pagination-wrapper">

					<a href="#" title="Go to the first page" class="page-link page-link-first"><span class="db-icon db-icon-left-arrow-first">Go to the first page</span></a>
					<a href="#" title="Go to the previous page" class="page-link page-link-nav" ><span class="db-icon db-icon-left-arrow-previous">Go to the previous page</span></a>

					<ul class="db-pagination">
						<li><a href="#" class="page-link">1</a></li>
						<li><a href="#" class="page-link">2</a></li>
						<li><a href="#" class="page-link">3</a></li>
						<li><a href="#" class="page-link">4</a></li>
						<li><span class="page-link-selected">5</span></li>
						<li><a  href="#" class="page-link"  title="More pages">...</a></li>
					</ul>

					<a href="#" title="Go to the next page" class="page-link page-link-nav" ><span class="db-icon db-icon-left-arrow-next">Go to the next page</span></a>
					<a href="#" title="Go to the last page" class="page-link page-link-last" ><span class="db-icon db-icon-right-arrow-last">Go to the last page</span></a>

				</div>
				<div class="db-search-wrapper">
					<input type="text" class="search">
					<input type="submit" value="Search" class="button">
				</div>
				<div class="db-page-info-wrapper">
					<span class="db-page-info">91 - 91 of 91 items</span>
					<a href="#" class="page-link"><span class="db-icon db-icon-reload"></span></a>
				</div>
				
			</div><!-- Data Table Footer  Container End -->

		</div><!-- Data Table Wrapper End -->












		
	</div>
	
</body>
</html>