// Colors

$black: #000000;
$darkGray: #3d3d3d;
$gray: #5b5b5b;
$lightGray: #b7b7b7;
$lightestGray: #e0e0e0;
$white: #ffffff;


$alert: #ffd600;
$warning: #f48100;
$error: #dd0000;
$info: #006bb8;
$success: #71a408;
$fc-theme-color: #2b2243; 


$base-font-size: 14px;


